{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to this simple app!</h1>
    <p>If yout want to add a movie to the database, <a href="{{ path('addmovie') }}">click here</a>.</p>
    <p>If you want to see a list of the movies available, <a href="{{ path('movielist') }}">click here</a>.</p>
{% endblock %}
