{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">Go to homepage</a>
        <a href="{{ path('addmovie') }}">Add a new movie</a>
    </div>


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Director</th>
                <th>Trailer</th>
                <th>Length</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Queen of the Damned</td>
                <td>The vampire Lestat becomes a rock star whose music wakes up the queen of all vampires.</td>
                <td>Michael Rymer</td>
                <td><a href="http://www.imdb.com/title/tt0238546/?ref_=nv_sr_4" target="_blank">Go to trailer</a></td>
                <td><span>101</span> minutes</td>
                <td>2002</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        div a {
            display: block;
        }

        table {
            color: white;
            background-color: slategrey;
            width: 80%;
            margin: 0 auto;
        }

        td, th {
            padding: 10px;
        }

        td a, td a:hover {
            color: gold;
        }

        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
    </style>
{% endblock %}